@model Exernet.Models.ApplicationUser
@if (Model.IsAdmin)
{
    <h6>@Resources.Resource.Administrator</h6>
}
else
    if (User.Identity.IsAuthenticated)
    {
        <h6>@Resources.Resource.User</h6>
    }