
@{
    ViewBag.Title = "Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<img width="450" src="http://gailmgibson.com/wp-content/uploads/2014/01/blocked.png" />

<h1>Sorry, you are blocked.</h1>

