<div id="images_container"></div>
<input type="file" id="fileUpload" name="file" class="btn btn-default btn-xs texbox-margin" accept="image/*" />
<div class="btn btn-success btn-xs" onclick="upload()">Upload image</div> 
<div id="progress" class="progress progress-striped">
    <div class="progress-bar progress-bar-danger" style="width: 0%;"></div>
</div>

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-image.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript">
    function upload() {
        var container = document.getElementById("images_container");

        var column = document.createElement("div");
        column.id = "image_" + count;
        column.className = "col-md-6 row";
        var left = document.createElement("div");
        left.className = "col-md-10";
        var right = document.createElement("div");
        right.className = "col-md-2";

        var image = document.createElement("img");
        image.className = "img-thumbnail img-responsive";
        var button = document.createElement("input");
        button.type = "button";
        button.value = "Remove";
        button.className = "btn btn-info btn-xs pull-left";
        button.value = 'X';
        button.name = count;

        var hidden = document.createElement("input");
        hidden.type = "hidden";
        hidden.name = "Images";

        button.onclick = function del() {
            var container = document.getElementById("images_container");
            var index = this.name;
            $("#image_" + index).remove();
        }
        count++;

        $('#fileUpload').fileupload({
            url: "http://localhost:54084/Task/UploadImage",
            dataType: 'json',
            add: function (e, data) {
                data.submit();
            },
            done: function (e, data) {
                image.src = data.result.url;
                hidden.value = data.result.url;
                left.appendChild(image);
                right.appendChild(button);
                column.appendChild(left);
                column.appendChild(right);
                column.appendChild(hidden);
                container.appendChild(column);
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                'width',
                progress + '%'
                );
            }
        });
    };</script>
