@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resources.Resource.Error;
}



<center><img width="500" src="http://images5.fanpop.com/image/photos/30500000/We-re-sorry-my-little-pony-friendship-is-magic-30550769-1032-774.png" /></center>

<h1 class="text-danger">@Resources.Resource.Error.</h1>
<h2 class="text-danger">@Resources.Resource.ErrorMessage</h2>

@Model.Exception.Message

