@{
    ViewBag.Title = Resources.Resource.HomePage;
}

<h2>Exernet</h2>

<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
            <li class="active"><a href="#tasksByUpload" role="tab" data-toggle="tab">@Resources.Resource.Tasks</a></li>
            <li class=""><a href="#tasksByPopularity" role="tab" data-toggle="tab">@Resources.Resource.Solutions</a></li>
            <li class=""><a href="#usersOnHomepage" role="tab" data-toggle="tab">@Resources.Resource.Users</a></li>
        </ul>
        <div id="content" class="tab-content">
            <div class="tab-pane fade active in" id="tasksByUpload">
                @{Html.RenderAction("ViewTasksOrderedByRating", "Task");}
            </div>
            <div class="tab-pane fade" id="tasksByPopularity">
                @{Html.RenderAction("ViewTasksOrderedByUploadDate", "Task");}
            </div>
            <div class="tab-pane fade" id="usersOnHomepage">
                @{Html.RenderAction("ViewAllUsers", "User");}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="GetTag">
            @Html.Action("GetTag", "Task")
        </div>
    </div>
</div>
