@using Exernet.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Exernet.Models.ApplicationUser>
@foreach(var user in Model)
{
    <a href="http://localhost:54084/User/Details/@user.UserName"><img width="25" class="img-circle img-responsive" src="@user.ProfileFotoURL" /></a>
}
