@using Exernet.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Exernet.Models.ApplicationUser>
<div class="row">
    @foreach (var user in Model)
{
    <div class="col-md-2">
        <a href="http://localhost:54084/User/Details/@user.UserName"><img width="25" title=@user.UserName class="img-circle img-responsive" src="@user.ProfileFotoURL" /></a>
    </div>
}
</div>
