@model Exernet.Models.ExernetTask

<div data-toggle="modal" data-target="#modalimage_mail">
    <button class="btn btn-default">@Resources.Resource.MistakeReport</button>
</div>
<div class="modal fade" id="modalimage_mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"> @Resources.Resource.MistakeDiscription </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("EmailSend", "Task", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <textarea style="resize:none" class="form-control" name="mailBody" rows="3"></textarea>
                    <hr />
                    <button type="submit" class="btn btn-primary">@Resources.Resource.Send</button>
                }

            </div>
        </div>
    </div>
</div>
