<link rel="stylesheet" type="text/css" href="http://latex.codecogs.com/css/equation-embed.css" />
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_config.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_editor-lite-15.js"></script>

<style type="text/css">
    #EqnEditor {
        text-align: left;
    }
</style>

<div class="container col-md-12" id="formulas_container">
</div>
<div data-toggle="modal" class="btn btn-default btn-xs" data-target="#modalEditFormula">
    @Resources.Resource.AddFormula
</div>

@using (Ajax.BeginForm("SaveFormula", new AjaxOptions { UpdateTargetId = "testbox" }))
{
    <div class="modal fade" id="modalEditFormula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Resource.Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.AddFormula</h4>
                </div>
                <div>
                    <div class="modal-body">
                        <form class="form-group">
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div id="editor"></div>
                                        <textarea class="form-control" id="testbox" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <center id="adding_formula">
                                            <img class="img-thumbnail" id="equation" />
                                        </center>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button onclick="addFormulaUrl()" value="Comment" class="btn btn-primary" data-dismiss="modal">@Resources.Resource.Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    EqEditor.embed('editor', '');
    var a = new EqTextArea('equation', 'testbox');
    EqEditor.add(a, false);
</script>


<script src="~/Scripts/add-more-formulas.js"></script>
